.powerbi {
  height: 95vh; /* Prend presque toute la hauteur de l'écran */
  width: 100vw; /* Utilise toute la largeur de la fenêtre */
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f0f2f5; /* Optionnel : fond neutre pour un meilleur contraste */
}

.reportClass {
  height: 100%;
  width: 100%;
  border: none;
  
  transform-origin: top left;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); /* Ombre légère autour pour effet visuel */
  transition: transform 0.3s ease;
}

